name: Terraform Security Scan

on:
  pull_request:
    branches:
      - main
      
jobs:
  checkov-scan:

    name: Checkov IaC Security Scan
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install Checkov
        run: |
          pip install checkov

      - name: Run Checkov diff scan
        run: |
          checkov \
            --directory . \
            --framework terraform \
            --baseline origin/${{ github.base_ref }} \
            --output cli,json \
            --output-file-path console,checkov-report-diff.json \
            --download-external-modules true \
            --check "CKV_GCP*" \
            --quiet \
            --soft-fail

      - name: Upload Checkov results
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: checkov-report
          path: checkov-report-diff.json
