name: Terraform Security Scan

on:
  push:
    branches:
      - test/checkov
      
jobs:
  checkov-scan:

    name: Checkov IaC Security Scan
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install Checkov
        run: |
          pip install checkov

      - name: Run Checkov scan on common
        run: |
          checkov \
            --directory terraform/common \
            --framework terraform \
            --output cli \
            --output json \
            --output-file-path console,checkov-report-common.json \
            --download-external-modules true \
            --check "CKV_GCP*" \
            --quiet \
            --soft-fail

      - name: Run Checkov scan on environment
        run: |
          checkov \
            --directory terraform/environments/ \
            --framework terraform \
            --output cli \
            --output json \
            --output-file-path console,checkov-report-environments.json \
            --download-external-modules true \
            --check "CKV_GCP*" \
            --quiet \
            --soft-fail

      - name: Run Checkov scan on  modules
        run: |
          checkov \
            --directory terraform/modules \
            --framework terraform \
            --output cli \
            --output json \
            --output-file-path console,checkov-report-modules.json \
            --download-external-modules true \
            --check "CKV_GCP*" \
            --quiet \
            --soft-fail

      - name: Upload Checkov results
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: checkov-report
          path: |
            checkov-report-common.json
            checkov-report-environments.json
            checkov-report-modules.json
